@use "../globals/variables" as v;

@mixin select($type) {
  @include border-Rad;
  padding: 4px;
  @content;

  @if $type == filter {
    background-color: var(--gray);
  } 
  @if $type == status{
    width: 100%;
    background-color: var(--white);
  }
   @if $type == change{
    background-color: var(--dark-blue);
  }
}

@mixin border-Rad {
  border-radius: v.$border-rad-sm;
}

@mixin button($color) {
  @content;
  padding: 5px 12px;
  @include border-Rad;

  @if $color == add {
    background-color: var(--dark-blue);
    color: var(--white);
  } @else {
    background-color: var(--gray);
    color: var(--light-black);
  }
}
